<body>
<<<<<<< HEAD
    <%- include('header.ejs') %>

        <% if (data.length> 0) { %>
            <div class="postcontainer">
                <div class="button">
                    <a href="/post/create" class="newpost">새 글 작성하기</a>

                    <div class="orderbtn">
                        <button class="latest" onclick="sortBy('createdAt', 'desc')">최신순</button>
                        <button class="likes" onclick="sortBy('countlike', 'desc')">좋아요순</button>
                        <button class="views" onclick="sortBy('view', 'desc')">조회수순</button>
                        <button class="likeviews"><a href="/like/posts">좋아요를 누른 게시물</a></button>
                    </div>
                </div>

                <script>
                    function sortBy(orderKey, orderValue) {
                        let currentUrl = window.location.href;

                        currentUrl = currentUrl.replace(/([?&])orderKey=[^&]+&?/, '$1').replace(/([?&])orderValue=[^&]+&?/, '$1');

                        const hasQueryParams = currentUrl.includes('?');

                        const queryString = hasQueryParams
                            ? `&orderKey=${orderKey}&orderValue=${orderValue}`
                            : `?orderKey=${orderKey}&orderValue=${orderValue}`;

                        const newUrl = currentUrl + queryString;

                        window.location.href = newUrl;
                    }
                </script>


                <div class="posts">
                    <!-- <div id="post" class="post">
=======
  <%- include('header.ejs') %> <% if (data.length> 0) { %>
  <div class="postcontainer">
    <div>
      <a href="/post/create" class="newpost">새 글 작성하기</a>
      <div class="latest">최신순</div>
      <div class="likes">좋아요순</div>
      <div class="views">조회수순</div>
    </div>
    <div class="posts">
      <!-- <div id="post" class="post">
>>>>>>> 333b3f07c34eafed550f6b0fd3538868c8b8c838
                        <div id="photo" class="photo">
                            <img src="https://s3.orbi.kr/data/file/united2/ee9383d48d17470daf04007152b83dc0.png">
                        </div>
                        <div id="content" class="content">
                            <div id="title" class="title">제목</div>
                            <div id="username" class="username">작성자</div>
                            <div id="countlike" class="countlike"><i class="fa-solid fa-heart"></i></div>
                            <div id="createdAt" class="createdAt">작성날짜</div>
                        </div>
                    </div> -->

<<<<<<< HEAD
                    <% data.forEach(post=> { %>
                        <div id="post" class="post"><a href='/posts/<%= post.id %>'>
                                <div id="photo" class="photo">
                                    <img
                                        src="https://s3.orbi.kr/data/file/united2/ee9383d48d17470daf04007152b83dc0.png">
                                </div>
                                <div class="content">
                                    <div id="title" class="title">
                                        <%= post.title %>
                                    </div>
                                    <div id="username" class="username">작성자 : <%= post.user.name %>
                                    </div>
                                    <div id="countlike" class="countlike"><i class="fa-solid fa-heart" style="color: red;"></i>
                                        <%= post.countlike %>
                                    </div>
                                    <div id="createdAt" class="createdAt">작성날짜 : <%= post.createdAt %>
                                    </div>
                                    <div class="view">조회수 : <%= post.view %>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                </div>
            </div>
            <% } else { %>
                <p>게시글이 없습니다.</p>
                <% } %>

</body>
=======
      <% data.forEach(post=> { %>
      <div id="post" class="post">
        <a href="/posts/<%= post.id %>">
          <div id="photo" class="photo">
            <% console.log('이지에스: ', post.attachFile); %>
            <img
              src="<%= post.attachFile %>"
              alt="https://s3.orbi.kr/data/file/united2/ee9383d48d17470daf04007152b83dc0.png"
            />
          </div>
          <div class="content">
            <div id="title" class="title"><%= post.title %></div>
            <div id="username" class="username">
              작성자 : <%= post.user.name %>
            </div>
            <form
              class="form-box"
              action="/like/post/<%= post.id %>"
              method="POST"
            >
              <button id="countlike" class="countlike">
                <i class="fa-solid fa-heart"></i>
                <%= post.countlike %>
              </button>
            </form>
            <div id="createdAt" class="createdAt">
              작성날짜 : <%= post.createdAt %>
            </div>
            <div class="view">조회수 : <%= post.view %></div>
          </div>
        </a>
      </div>
      <% }); %>
    </div>
  </div>
  <% } else { %>
  <p>게시글이 없습니다.</p>
  <% } %>
</body>
>>>>>>> 333b3f07c34eafed550f6b0fd3538868c8b8c838
