<body>
    <%- include('header.ejs') %>

    <h1 class="createpost">사용자 정보 조회</h1>
    <div class="profile">
        <div class="profileImage"><%= user.profileImage %></div>
        <div class="email">이메일 : <%= user.email %></div>
        <div class="name">이름 : <%= user.name %></div>
        <div class="phone">전화번호 : <%= user.phone %></div>
        <div class="gender">성별 :<%= user.gender %></div>
        <div class="birth">생년월일 : <%= user.birth %></div>
    </div>
    <button class="user_edit"><a href="/profile">수정</a></button>

</body>